@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* * {
  margin: 0;
  padding: 0;
} */

/* font section */
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}

/* shared style start*/
.primary-bg {
  background-color: #fff8f3;
}
.primary-color {
  color: #fd6e0a;
}
.dark-2 {
  color: #474747;
}
.dark-3 {
  color: #757575;
}
.section-title {
  font-size: 35px;
  font-weight: 700;
}
.text-center {
  text-align: center;
}
/* shared style end */

/* header style */
header {
  background-image: url("images/developer.png"), url("images/header_bg.png");
  background-size: 85px, 700px;
  background-repeat: no-repeat;
  background-position: bottom left, bottom right;
}

.btn {
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: 700px;
  cursor: pointer;
  color: white;
  background-color: #fd6e0a;
}

/* header style */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 130px;
  padding-top: 51px;
}
nav ul {
  display: flex;
  align-items: center;
}

.nav-title {
  font-stretch: 45px;
  font-weight: 800;
}
nav ul li {
  font-weight: 400;
  list-style: none;
  margin-right: 50px;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
/* banner style */
.banner {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  margin: 0 35px 0 130px;
}

.banner-content {
  max-width: 580px;
}
.banner-subtitle {
  font-size: 45px;
  font-weight: 600;
}

.banner-title {
  font-size: 85px;
  font-weight: 700;
}
.banner-slogan {
  font-size: 18px;
  font-weight: 400;
}

.banner-profile-pic {
  width: 500px;
}

/* main section style */
main {
  max-width: 1140px;
  margin: 0 auto;
}

main section {
  margin-top: 130px;
  margin-bottom: 130px;
}
/* about section */

.about-section {
  border-radius: 5px;
  padding: 130px 160px;
  text-align: center;
}
.about-items {
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
}

/* skill section style */

.skill-container {
  display: flex;
  gap: 24px;
  justify-content: space-around;
}

.skill-item {
  max-width: 200px;
  max-height: 370px;
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  /* border: 1px solid red; */
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

/* resume section style */

.resume-container {
  max-width: 900px;
  display: flex;
  gap: 24px;
  margin: 0 auto;
  /* background-color: red; */
}
.resume-title {
  margin-bottom: 113px;
}
.resume-column hr {
  opacity: 0.3;
  /* height: 1px; */
  padding: 0.1px;
}
.experience-title {
  margin-bottom: -15px;
}
.experience-subtitle {
  font-weight: 500;
  margin-bottom: -8px;
}

.cvBtn {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

/* footer style */
footer {
  padding: 130px 230px;
  display: flex;
  gap: 100px;
}
.footer-column {
  width: 50%;
}
footer input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  height: 30px;
  padding: 10px 20px;
  margin-bottom: 24px;
  border: none;
  border-radius: 5px;
  /* background: #d10a0a; */
  background: #ffff;
  font-size: 16px;
  display: block;
}
/* Responsive section */

/* started from here */

@media screen and (max-width: 576px) {
  .skill-container,
  .resume-container,
  .about-items,
  footer,
  .banner,
  nav,
  nav > ul,
  .about-section {
    flex-direction: column;
  }
  nav ul {
    gap: 10px;
  }
  .banner-content .btn {
    margin-bottom: 10px;
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -50px;
    background-image: none;
  }

  .banner-profile-pic {
    width: 100%;
    margin-left: -20px;
  }

  footer,
  .about-section {
    padding: 20px;
  }
  .footer-column {
    width: 100%;
  }
  footer input[type="text"],
  footer input[type="email"],
  footer textarea {
    width: calc((100% - 40px));
  }
}

/* medium device */
@media screen and (min-width: 576px) and (max-width: 992px) {
  footer {
    flex-direction: column;
    padding: 20px;
  }
  .footer-column {
    width: 100%;
  }
  footer input[type="text"],
  footer input[type="email"],
  footer textarea {
    width: calc((100% - 40px));
  }
}
